:root {
  --button-highlight: #ffffff;
  --button-face: #c0c0c0;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
}

* {
  /* Hmmmm... how can I make these a webfont */
  font-family: "MS Sans Serif", Arial;
  font-size: 11px;
  -webkit-font-smoothing: none;
  color: #222222;
}

u {
  text-decoration: none;
  border-bottom: 0.5px solid #222222;
}

button {
  border: none;
  background: var(--button-face);
  padding: 6px 8px;
  /* Make these shadows into a mixin */
  box-shadow: -0.5px -0.5px 0 0.5px var(--button-highlight),
    0 0 0 1px var(--window-frame), inset -1px -1px var(--button-shadow),
    inset 1px 1px var(--button-face);
}

button:active {
  box-shadow: -0.5px -0.5px 0 0.5px var(--window-frame),
    0 0 0 1px var(--button-highlight), inset -1px -1px var(--button-face),
    inset 1px 1px var(--button-shadow);
}

button:focus {
  outline: 1px dotted #000000;
  outline-offset: -3px;
}

button:disabled {
  color: #9a9a9a;
  text-shadow: 1px 1px 0 #eeeeee;
}

fieldset {
  border: none;
}

fieldset > * {
  margin: 0 6px 8px 0;
}

fieldset > *:last-child {
  margin: 0;
}
