body {
  margin: 0;
  padding: 0;
  background: #c0c0c0;
}

main {
  width: 65rem;
  margin-left: 240px;
  margin-bottom: 60px;
}

aside {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 8px;
  display: flex;
  align-items: stretch;
}

aside .tree-view {
  width: 100%;
  /* TODO: Move scrollbar into the recessed region? */
  overflow-y: scroll;
}

h1 {
  margin: 12px 0;
}

hr {
  margin: 0;
  border: none;
  width: 400px;
  height: 1px;
  opacity: 0.5;
  background: linear-gradient(to right,
      red 20%,
      yellow 20%,
      yellow 36%,
      green 36%,
      green 60%,
      blue 60%,
      blue 100%);
}

h2 {
  margin-bottom: 12px;
}

h3 {
  font-size: 1.6rem;
}

h3,
h4 {
  /* Swap the margin for a top-padding so linking to this section
     results in a better scroll position */
  padding-top: 20px;
  margin-top: 0;
  display: block;
  flex: 0 0 180px;
}

p {
  max-width: 50rem;
  line-height: 1.5;
}

.component {
  display: flex;
  margin-top: 24px;
}

blockquote {
  margin: 0 0 20px;
  padding: 20px;
  background: #dfdfdf;
}

blockquote footer {
  margin: 12px 0 0 12px;
}

.example {
  margin: 16px 0;
  padding: 12px 24px;
  border-left: 1px solid #808080;
}

details {
  margin-top: 12px;
}

summary {
  user-select: none;
  cursor: pointer;
  display: inline;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  margin-bottom: 8px;
}

button.focused {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

button.active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

@media (max-width: 480px) {
  aside {
    display: none;
  }

  main {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 16px;
  }

  hr {
    width: 100%;
  }

  p {
    width: 100%;
  }

  h3,
  h4 {
    flex: 0;
  }

  .component {
    display: block;
    margin-top: 24px;
  }

  pre {
    overflow-x: scroll;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-top: 2px solid white;
  background-color: #dfdfdf;
}

footer button {
  background-color: #dfdfdf;
}

footer button img {
  width: 71px;
  height: 18px;
  padding-top: 2px;
}

.menu-bar {
  padding: 0;
  position: relative;
  display: inline-block;
}

.menu-bar .menu-bar-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 2px 2px 2px 0px rgb(0, 0, 0);
  padding: 0;
  z-index: 1;
  bottom: 21px;
  left: 3px;
  border-left: 3px solid white;
  border-top: 3px solid white;
  background-color: #dfdfdf;
}

.menu-bar .menu-bar-content .side {
  writing-mode: tb-rl;
  transform: rotate(180deg);
  align-items: center;
  display: flex;
  padding: 5px 5px 0px 5px;
  font-size: 20px;
  min-height: 260px;
  flex-basis: 20%;
  color: white;
  background: linear-gradient(45deg, #000014, navy, #1084d0);
  margin: 0px 0px 3px 0px;
}

.font-weight-bold {
  font-weight: bold;
}

.menu-bar .menu-bar-content .main {
  flex-grow: 1;
  display: flex;
}

.menu-bar .menu-bar-content .main .items {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.menu-bar .menu-bar-content .main .items .item {
  padding: 10px 10px 10px 18px;
  min-width: 200px;
  ;
}

.menu-bar .menu-bar-content .main .items .item:hover {
  background-color: navy;
  cursor: pointer;
}

.menu-bar .menu-bar-content .main .items .item:hover .link {
  color: white;
}

.menu-bar .menu-bar-content .main .items .item .link {
  color: black;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

.menu-bar:hover .menu-bar-content {
  display: flex;
}
